
.prototype-ns-icon {
  display: flex;
  flex-wrap: wrap;
  .icon {
    margin-right: 0.5em;
    .label {
      text-align: center;
    }
    ns-icon {
      width: 4em;
      height: 4em;
    }
  }
}
