// tools-header

tools-header {
  position: absolute;
  top: 0;
  z-index: 4;
  &::before {
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  nav {
    background-color: rgba(orange, 0.25);
    width: 100vw;
    opacity: 0;
    transition: opacity 0.375s;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
    }
    a,
    span {
      display: inline-block;
      padding: 0.25em 0.5em;
      color: black;
    }
    span {
      cursor: default;
    }
    a {
      background-color: rgba(orange, 0.50);
      &:hover {
        background-color: rgba(darkorange, 0.80);
      }
    }
  }
  &:focus,
  &:hover,
  &:active {
    nav {
      opacity: 1;
      transition: opacity 0.375s;
    }
  }
}

// .reload
.reload {
  display: none;
}

// @squash-court
tools-header {
  &::before {
    content: "⚫️";
  }
}

// @tennis-court
@media only screen and (min-width: 30em) {
  tools-header {
    &::before {
      content: "🎾";
    }
  }
}

// @basketball-court
@media only screen and (min-width: 45em) {
  tools-header {
    &::before {
      content: "🏀";
    }
  }
}

// @hockey-pitch
@media only screen and (min-width: 67.5em) {
  tools-header {
    &::before {
      content: "🏑";
    }
  }
}

// @rugby-pitch
@media only screen and (min-width: 101.25em) {
  tools-header {
    &::before {
      content: "🏉";
    }
  }
}

// @polo-field
@media only screen and (min-width: 151.875em) {
  tools-header {
    &::before {
      content: "👕";
    }
  }
}
