// tools-header

tools-header {
  position: absolute;
  display: flex;
  top: 0;
  z-index: 4;
  &::before {
    position: absolute;
    top: 0.25em;
    left: 2em;
  }

  .home,
  .reload {
    width: 1.75em;
    height: 1.75em;
    padding: 0.25em;
    text-decoration: none !important;
  }
}

// @squash-court
tools-header {
  &::before {
    pointer-events: none;
    content: "⚫️";
  }
}

// @tennis-court
@media only screen and (min-width: 30em) {
  tools-header {
    &::before {
      content: "🎾";
    }
  }
}

// @basketball-court
@media only screen and (min-width: 45em) {
  tools-header {
    &::before {
      content: "🏀";
    }
  }
}

// @hockey-pitch
@media only screen and (min-width: 67.5em) {
  tools-header {
    &::before {
      content: "🏑";
    }
  }
}

// @rugby-pitch
@media only screen and (min-width: 101.25em) {
  tools-header {
    &::before {
      content: "🏉";
    }
  }
}

// @polo-field
@media only screen and (min-width: 151.875em) {
  tools-header {
    &::before {
      content: "👕";
    }
  }
}
