// tools-header

tools-header {
  position: absolute;
  top: 0;
  z-index: 4;
  &::before {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
  }
}

// .reload
.reload {
  display: none;
}

// @squash-court
tools-header {
  &::before {
    content: "⚫️";
  }
}

// @tennis-court
@media only screen and (min-width: 30em) {
  tools-header {
    &::before {
      content: "🎾";
    }
  }
}

// @basketball-court
@media only screen and (min-width: 45em) {
  tools-header {
    &::before {
      content: "🏀";
    }
  }
}

// @hockey-pitch
@media only screen and (min-width: 67.5em) {
  tools-header {
    &::before {
      content: "🏑";
    }
  }
}

// @rugby-pitch
@media only screen and (min-width: 101.25em) {
  tools-header {
    &::before {
      content: "🏉";
    }
  }
}

// @polo-field
@media only screen and (min-width: 151.875em) {
  tools-header {
    &::before {
      content: "👕";
    }
  }
}
