// main

tools-header,
.tools-layout {
  display: none;
}

.tools-true {
  .tools-layout {
    background-color: white;
    display: block;
    position: sticky;
    opacity: 0.5;
    top: 0;
    z-index: 4;
  }

  @import '_styles/tools-header.less';
  @import '_styles/tools-true.less';
}

@import '_styles/prototype.less';
